TWITTER_API_BEARER_TOKEN = ""
SLACK_API_BEARER_TOKEN = ""
BENEVOLES_SLACK_CHANNEL = ""
BENEVOLES_ANCIENS_BENEVOLES_SLACK_CHANNEL = ""
VOLUNTEERS_CSV_URL = ""
ALLOWED_SLACK_CHANNELS_FOR_INVITE_SPECIAL = []
ALLOWED_SLACK_CHANNELS_FOR_ANCIENS_BENEVOLES = []
VOLUNTEERS_WEBSITE_API_URL = ""
VOLUNTEERS_WEBSITE_API_TOKEN = ""